In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt

In [341]:
applic = pd.read_csv("./data/data/applicant.csv")
loan=pd.read_csv("./data/data/loan.csv")

In [342]:
merged_data = loan.merge(applic,on=["applicant_id"])

In [343]:
column_names = ['loan_application_id', 'applicant_id', 'Months_loan_taken_for','Purpose', 'Principal_loan_amount','EMI_rate_in_percentage_of_disposable_income', 'Property','Has_coapplicant', 'Has_guarantor', 'Other_EMI_plans','Number_of_existing_loans_at_this_bank', 'Loan_history','Primary_applicant_age_in_years', 'Gender','Marital_status', 'Number_of_dependents', 'Housing','Years_at_current_residence', 'Employment_status','Has_been_employed_for_at_least', 'Has_been_employed_for_at_most','Telephone', 'Foreign_worker','Savings_account_balance','Balance_in_existing_bank_account_(lower_limit_of_bucket)','Balance_in_existing_bank_account_(upper_limit_of_bucket)','high_risk_applicant']

In [344]:
df = merged_data.reindex(columns=column_names)

In [345]:
df.head()

,loan_application_id,applicant_id,Months_loan_taken_for,Purpose,Principal_loan_amount,EMI_rate_in_percentage_of_disposable_income,Property,Has_coapplicant,Has_guarantor,Other_EMI_plans,...,Years_at_current_residence,Employment_status,Has_been_employed_for_at_least,Has_been_employed_for_at_most,Telephone,Foreign_worker,Savings_account_balance,Balance_in_existing_bank_account_(lower_limit_of_bucket),Balance_in_existing_bank_account_(upper_limit_of_bucket),high_risk_applicant
0,d68d975e-edad-11ea-8761-1d6f9c1ff461,1469590,6,electronic equipment,1169000,4,real estate,0,0,NaN,...,4,skilled employee / official,7 years,NaN,Registered under the applicant's name,1,NaN,NaN,0,0
1,d68d989e-edad-11ea-b1d5-2bcf65006448,1203873,48,electronic equipment,5951000,2,real estate,0,0,NaN,...,2,skilled employee / official,1 year,4 years,NaN,1,Low,0,2 lac,1
2,d68d995c-edad-11ea-814a-1b6716782575,1432761,12,education,2096000,2,real estate,0,0,NaN,...,3,unskilled - resident,4 years,7 years,NaN,1,Low,NaN,NaN,0
3,d68d99fc-edad-11ea-8841-17e8848060ae,1207582,42,FF&E,7882000,2,building society savings agreement/life insurance,0,1,NaN,...,4,skilled employee / official,4 years,7 years,NaN,1,Low,NaN,0,0
4,d68d9a92-edad-11ea-9f3d-1f8682db006a,1674436,24,new vehicle,4870000,3,NaN,0,0,NaN,...,4,skilled employee / official,1 year,4 years,NaN,1,Low,NaN,0,1

In [346]:
numerical=['applicant_id', 'Months_loan_taken_for', 'Principal_loan_amount', 'EMI_rate_in_percentage_of_disposable_income', 'Has_coapplicant', 'Has_guarantor', 'Number_of_existing_loans_at_this_bank', 'Primary_applicant_age_in_years', 'Number_of_dependents', 'Years_at_current_residence', 'Foreign_worker', 'high_risk_applicant']

In [347]:
for i in numerical:
    print((df[i]<0).any())

False
False
False
False
False
False
False
False
False
False
False
False

In [348]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 27 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   loan_application_id                                       1000 non-null   object
 1   applicant_id                                              1000 non-null   int64
 2   Months_loan_taken_for                                     1000 non-null   int64
 3   Purpose                                                   988 non-null    object
 4   Principal_loan_amount                                     1000 non-null   int64
 5   EMI_rate_in_percentage_of_disposable_income               1000 non-null   int64
 6   Property                                                  846 non-null    object
 7   Has_coapplicant                                           1000 non-null   int64
 8   Has_guarantor                                             1000 non-null   int64
 9   Other_EMI_plans                                           186 non-null    object
 10  Number_of_existing_loans_at_this_bank                     1000 non-null   int64
 11  Loan_history                                              1000 non-null   object
 12  Primary_applicant_age_in_years                            1000 non-null   int64
 13  Gender                                                    1000 non-null   object
 14  Marital_status                                            1000 non-null   object
 15  Number_of_dependents                                      1000 non-null   int64
 16  Housing                                                   1000 non-null   object
 17  Years_at_current_residence                                1000 non-null   int64
 18  Employment_status                                         1000 non-null   object
 19  Has_been_employed_for_at_least                            938 non-null    object
 20  Has_been_employed_for_at_most                             747 non-null    object
 21  Telephone                                                 404 non-null    object
 22  Foreign_worker                                            1000 non-null   int64
 23  Savings_account_balance                                   817 non-null    object
 24  Balance_in_existing_bank_account_(lower_limit_of_bucket)  332 non-null    object
 25  Balance_in_existing_bank_account_(upper_limit_of_bucket)  543 non-null    object
 26  high_risk_applicant                                       1000 non-null   int64
dtypes: int64(12), object(15)
memory usage: 218.8+ KB

In [349]:
df.isnull().sum()

loan_application_id                                           0
applicant_id                                                  0
Months_loan_taken_for                                         0
Purpose                                                      12
Principal_loan_amount                                         0
EMI_rate_in_percentage_of_disposable_income                   0
Property                                                    154
Has_coapplicant                                               0
Has_guarantor                                                 0
Other_EMI_plans                                             814
Number_of_existing_loans_at_this_bank                         0
Loan_history                                                  0
Primary_applicant_age_in_years                                0
Gender                                                        0
Marital_status                                                0
Number_of_dependents                                          0
Housing                                                       0
Years_at_current_residence                                    0
Employment_status                                             0
Has_been_employed_for_at_least                               62
Has_been_employed_for_at_most                               253
Telephone                                                   596
Foreign_worker                                                0
Savings_account_balance                                     183
Balance_in_existing_bank_account_(lower_limit_of_bucket)    668
Balance_in_existing_bank_account_(upper_limit_of_bucket)    457
high_risk_applicant                                           0
dtype: int64

In [350]:
df.nunique()

loan_application_id                                         1000
applicant_id                                                1000
Months_loan_taken_for                                         33
Purpose                                                        9
Principal_loan_amount                                        921
EMI_rate_in_percentage_of_disposable_income                    4
Property                                                       3
Has_coapplicant                                                2
Has_guarantor                                                  2
Other_EMI_plans                                                2
Number_of_existing_loans_at_this_bank                          4
Loan_history                                                   5
Primary_applicant_age_in_years                                53
Gender                                                         2
Marital_status                                                 4
Number_of_dependents                                           2
Housing                                                        3
Years_at_current_residence                                     4
Employment_status                                              4
Has_been_employed_for_at_least                                 4
Has_been_employed_for_at_most                                  4
Telephone                                                      1
Foreign_worker                                                 2
Savings_account_balance                                        4
Balance_in_existing_bank_account_(lower_limit_of_bucket)       2
Balance_in_existing_bank_account_(upper_limit_of_bucket)       2
high_risk_applicant                                            2
dtype: int64

<b>As we can see there is high variance in 'Principal_loan_amount','loan_application_id','applicant_id'

## Handling the missing values

In [351]:
df['Telephone'].value_counts()

Registered under the applicant's name    404
Name: Telephone, dtype: int64

In [352]:
df0 = df.copy()
df0.loc[df0['Telephone']=="Registered under the applicant's name", 'Telephone']=1

In [353]:
df0['Telephone']=df0['Telephone'].fillna(0)

In [354]:
df0['Telephone'].value_counts()

0    596
1    404
Name: Telephone, dtype: int64

In [355]:
for col in df0:
    # Check if the column is of object type
    if df0[col].dtype == 'object':
        # Impute with the most frequent value
        df0 = df0.fillna(df0[col].value_counts().index[0])

# Count the number of NaNs in the dataset and print the counts to verify
print(df0.isna().sum())

loan_application_id                                         0
applicant_id                                                0
Months_loan_taken_for                                       0
Purpose                                                     0
Principal_loan_amount                                       0
EMI_rate_in_percentage_of_disposable_income                 0
Property                                                    0
Has_coapplicant                                             0
Has_guarantor                                               0
Other_EMI_plans                                             0
Number_of_existing_loans_at_this_bank                       0
Loan_history                                                0
Primary_applicant_age_in_years                              0
Gender                                                      0
Marital_status                                              0
Number_of_dependents                                        0
Housing                                                     0
Years_at_current_residence                                  0
Employment_status                                           0
Has_been_employed_for_at_least                              0
Has_been_employed_for_at_most                               0
Telephone                                                   0
Foreign_worker                                              0
Savings_account_balance                                     0
Balance_in_existing_bank_account_(lower_limit_of_bucket)    0
Balance_in_existing_bank_account_(upper_limit_of_bucket)    0
high_risk_applicant                                         0
dtype: int64

## Preprocessing the data

### categorical features are converted into numerical feature

In [356]:
# Import LabelEncoder
from sklearn.preprocessing import LabelEncoder

# Instantiate LabelEncoder
le = LabelEncoder()

# Iterate over all the values of each column and extract their dtypes
for col in df0:
    # Compare if the dtype is object
    if df0[col].dtype=='object':
    # Use LabelEncoder to do the numeric transformation
        df0[col]=le.fit_transform(df0[col])

In [357]:
df0['applicant_id']

0      1469590
1      1203873
2      1432761
3      1207582
4      1674436
        ...
995    1880194
996    1114064
997    1758046
998    1824545
999    1660770
Name: applicant_id, Length: 1000, dtype: int64

In [383]:
df0.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 27 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   loan_application_id                                       1000 non-null   int32
 1   applicant_id                                              1000 non-null   int64
 2   Months_loan_taken_for                                     1000 non-null   int64
 3   Purpose                                                   1000 non-null   int32
 4   Principal_loan_amount                                     1000 non-null   int64
 5   EMI_rate_in_percentage_of_disposable_income               1000 non-null   int64
 6   Property                                                  1000 non-null   int32
 7   Has_coapplicant                                           1000 non-null   int64
 8   Has_guarantor                                             1000 non-null   int64
 9   Other_EMI_plans                                           1000 non-null   int32
 10  Number_of_existing_loans_at_this_bank                     1000 non-null   int64
 11  Loan_history                                              1000 non-null   int32
 12  Primary_applicant_age_in_years                            1000 non-null   int64
 13  Gender                                                    1000 non-null   int32
 14  Marital_status                                            1000 non-null   int32
 15  Number_of_dependents                                      1000 non-null   int64
 16  Housing                                                   1000 non-null   int32
 17  Years_at_current_residence                                1000 non-null   int64
 18  Employment_status                                         1000 non-null   int32
 19  Has_been_employed_for_at_least                            1000 non-null   int32
 20  Has_been_employed_for_at_most                             1000 non-null   int32
 21  Telephone                                                 1000 non-null   int64
 22  Foreign_worker                                            1000 non-null   int64
 23  Savings_account_balance                                   1000 non-null   int32
 24  Balance_in_existing_bank_account_(lower_limit_of_bucket)  1000 non-null   int32
 25  Balance_in_existing_bank_account_(upper_limit_of_bucket)  1000 non-null   int32
 26  high_risk_applicant                                       1000 non-null   int64
dtypes: int32(14), int64(13)
memory usage: 164.1 KB

## Upsampling the minor dataset

In [411]:
non_default = df0[df0["high_risk_applicant"] == 0]
default  = df0[df0["high_risk_applicant"] == 1]
print(non_default.shape)
print(default.shape)

(700, 27)
(300, 27)

In [489]:
from sklearn.utils import resample
default = resample(default,
             replace=True,
             n_samples=len(non_default),
             random_state=42)

print(default.shape)
print(type(default))

(700, 27)
<class 'pandas.core.frame.DataFrame'>

### joining the processed data

In [413]:
dfn=pd.concat((non_default, default)).sort_index(axis = 0)

In [414]:
dfn = dfn.drop('applicant_id', axis=1)

In [415]:
dfn.shape

(1400, 26)

In [416]:
dfn['high_risk_applicant'].value_counts()

0    700
1    700
Name: high_risk_applicant, dtype: int64

## Splitting the dataset into train and test sets

In [417]:
from sklearn.model_selection import train_test_split
#convert the DataFrame to a NumPy array
dfn = dfn.values

# Segregate features and labels into separate variables
X,y = dfn[:,0:25] , dfn[:,-1]

# Split into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X,
                                y,
                                test_size=0.3,
                                random_state=1)

## Normalising the data

In [418]:
from sklearn.preprocessing import MinMaxScaler

# Instantiate MinMaxScaler and use it to rescale X_train and X_test
scaler = MinMaxScaler(feature_range=(0, 1))
rescaledX_train = scaler.fit_transform(X_train)
rescaledX_test = scaler.fit_transform(X_test)

## Model building ,Making predictions and evaluating performance

In [491]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, f1_score
#from imblearn.over_sampling import RandomOverSampler
#from imblearn.under_sampling import RandomUnderSampler
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, KFold, cross_val_score

In [492]:
log = LogisticRegression()
forest = RandomForestClassifier(n_estimators=150)
svm = SVC()

In [493]:
log_pipe = Pipeline([
    ('scale', StandardScaler()),
    ('log', log)
])

In [495]:
for model, model_name in zip([log_pipe,forest,svm],['Logistic Regression','Random Forest Classifier','SV Classifier']):
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    print(model_name+":\n")
    print("Accuracy Score:", accuracy_score(y_test, y_pred))
    print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))
    print("Clasisfication Report:\n", classification_report(y_test, y_pred))

Logistic Regression:

Accuracy Score: 0.719047619047619
Confusion Matrix:
 [[150  67]
 [ 51 152]]
Clasisfication Report:
               precision    recall  f1-score   support

           0       0.75      0.69      0.72       217
           1       0.69      0.75      0.72       203

    accuracy                           0.72       420
   macro avg       0.72      0.72      0.72       420
weighted avg       0.72      0.72      0.72       420

Random Forest Classifier:

Accuracy Score: 0.8785714285714286
Confusion Matrix:
 [[180  37]
 [ 14 189]]
Clasisfication Report:
               precision    recall  f1-score   support

           0       0.93      0.83      0.88       217
           1       0.84      0.93      0.88       203

    accuracy                           0.88       420
   macro avg       0.88      0.88      0.88       420
weighted avg       0.88      0.88      0.88       420

SV Classifier:

Accuracy Score: 0.5857142857142857
Confusion Matrix:
 [[173  44]
 [130  73]]
Clasisfication Report:
               precision    recall  f1-score   support

           0       0.57      0.80      0.67       217
           1       0.62      0.36      0.46       203

    accuracy                           0.59       420
   macro avg       0.60      0.58      0.56       420
weighted avg       0.60      0.59      0.56       420

<b>Observation:</b>
1. Gotten F1-Score of 0.88 for Random forest which is highest.
2. But we have gotten High false negative (actual -- default but predicted -- non-default)  compared to false positive.

## By cross validation process

In [496]:
fold = KFold(n_splits = 5, random_state=1, shuffle = True)
print("Model Evaluation Scores:\n\n")
for model, model_name in zip([log_pipe,forest,svm],['Logistic Regression','Random Forest Classifier','SV Classifier']):
    scores = cross_val_score(model,
                                X_train,
                                y_train,
                                cv = fold,
                                scoring = 'accuracy')
    print(model_name+":")
    print("Accuracy: ",np.mean(scores))
    print("\n")

Model Evaluation Scores:


Logistic Regression:
Accuracy:  0.7020408163265307


Random Forest Classifier:
Accuracy:  0.8561224489795919


SV Classifier:
Accuracy:  0.5469387755102041

In [497]:
for model, model_name in zip([log_pipe,forest,svm],['Logistic Regression','Random Forest Classifier','SV Classifier']):
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    print(model_name+":\n")
    print("Accuracy Score:", accuracy_score(y_test, y_pred))
    print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))
    print("Clasisfication Report:\n", classification_report(y_test, y_pred))

Logistic Regression:

Accuracy Score: 0.719047619047619
Confusion Matrix:
 [[150  67]
 [ 51 152]]
Clasisfication Report:
               precision    recall  f1-score   support

           0       0.75      0.69      0.72       217
           1       0.69      0.75      0.72       203

    accuracy                           0.72       420
   macro avg       0.72      0.72      0.72       420
weighted avg       0.72      0.72      0.72       420

Random Forest Classifier:

Accuracy Score: 0.8857142857142857
Confusion Matrix:
 [[184  33]
 [ 15 188]]
Clasisfication Report:
               precision    recall  f1-score   support

           0       0.92      0.85      0.88       217
           1       0.85      0.93      0.89       203

    accuracy                           0.89       420
   macro avg       0.89      0.89      0.89       420
weighted avg       0.89      0.89      0.89       420

SV Classifier:

Accuracy Score: 0.5857142857142857
Confusion Matrix:
 [[173  44]
 [130  73]]
Clasisfication Report:
               precision    recall  f1-score   support

           0       0.57      0.80      0.67       217
           1       0.62      0.36      0.46       203

    accuracy                           0.59       420
   macro avg       0.60      0.58      0.56       420
weighted avg       0.60      0.59      0.56       420

<b> Performance hasn't much improved after cross validation

In [462]:
m = RandomForestClassifier(n_estimators=150, min_samples_leaf=15, n_jobs=-1, max_depth = 4, oob_score=True) ## Use all CPUs available
m.fit(X_train, y_train)

#print_score(m)

y_pred = m.predict(X_test)
print('RandomForest'+":\n")
print("Accuracy Score:", accuracy_score(y_test, y_pred))
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))
print("Clasisfication Report:\n", classification_report(y_test, y_pred))

RandomForest:

Accuracy Score: 0.7261904761904762
Confusion Matrix:
 [[145  72]
 [ 43 160]]
Clasisfication Report:
               precision    recall  f1-score   support

           0       0.77      0.67      0.72       217
           1       0.69      0.79      0.74       203

    accuracy                           0.73       420
   macro avg       0.73      0.73      0.73       420
weighted avg       0.73      0.73      0.73       420

<b>Observation:
1. Random forest has given us F1-score of 0.80 out of 1 for both the categories in classification.(more the score better the model)